<section>
  <article>    
    <div class="panel panel-info">
      <div class="panel-heading">
          <h1>{{repoDetails.name}}</h1>
      </div>
      <div class="panel-body">
        <div class="panel panel-primary">
          <div class="panel-body"><h2><span>Followers:</span>{{repoDetails.stargazers_count}}</h2>
            <span> {{repoDetails.description}} </span>
          </div>
        </div>  
        <div class="panel panel-default">
          <div class="panel-body">
              {{repoDetails.language}}
          </div>
        </div> 
        <div class="panel panel-default">
          <div class="panel-body">
              <a href="{{repoDetails.html_url}}">GITHUB OFFICIAL PAGE</a>
          </div>
        </div>  
      </div>       
    </div>
  </article>
</section>